body {
	background-image: url("octagon.jpg");
}

#jumbotron {
	background-color: #BE0100;
}

#title {
	color: white;
	font-family: 'Catamaran', sans-serif;
}

p,
h5 {
	color: white;
	font-size: 15px;
}

h3 {
	color: white;
	font-size: 24px;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  float: left;
  margin: 5px;
}